/* 전체 */

	*{
		margin:0;
		padding:0;
		list-style: none;
		box-sizing: border-box;
	}

	
	body {
	    width: 100%;
	    height: 100%;
	}
	
	#container{display: flex; width:100%; height:100%; /* background-color:#f5f5f5; */}
	/* 로고 자리 */
	#company_logo{ width: 245px; height: 100px; /* background-color: #E6E6FA; */}
	#hospital_logo{width: 270px; height: 100px;}
	#pageSide_left{background-color: #f5f5f5; }
	#pageSide_right{ /* background-color: #FAFAD2;  */ }
	
	
	/* aside 조회등록 폼  */
	#form_wrap{
		margin-top: 10px;
		width: 260px;
		height: 1920px;
		margin-left: 10px;
		font-size: 13px;
		font-weight: bold;
		/* background-color: pink; */ 
	}
	
	
	/* 	폼 타이틀 #form_wrap #patient_form_title{font-size: 16px; text-align: center; color: blue;} */
		
		#form_wrap .label_detail{ padding: 2px;}
		
		#form_wrap #form_contents{/* background-color: yellow; */}
		
		#form_wrap .patient_visit_radio{margin:6px;}
		
		#form_wrap .patient_form_btn{ background-color:rgb(94, 94, 94); color:white; font-size:11px; height:20px; border-radius: 5px;}
		
		#form_wrap .rs_btn1{ width:37px;}
		
		#form_wrap .patient_form_label{ display: inline-block; padding:2px; width:60px; font-size:13px; text-align: center; background-color: #f5f5f5;}
		
		#form_wrap .textarea_label{/* padding:2px; */}
		
		#form_wrap .patient_form_input{width:173px; padding: 1px; font-size:13px; font-weight: bold; }
		
		#form_wrap .patient_textarea{ resize: none; padding: 1px; font-weight: bold; } 
		
		#form_wrap #visit_radio_div{ margin-left:50px; padding: 3px;}
		
	 
	  /* aside 미니 캘린더  */
	  .calendar {
	    width: 230px;
	    height: 260px; /* 복구 50px */
	    margin-left: 10px;
	  } 
	  
	  
	  /* 미니캘린더 서브 폼 */
	   /* 복구    #sub_form{ margin-top: 200px;} */
	  
	  .label_detail .rs_time{width: 60px;}
	  
	  .label_detail .patient_form_select{width: 138px;}
	  
	  .label_detail .rs_date{width: 138px;} /* 예약 일자, 진료장소 input */
	  
	  #rs_btn2{margin-left: 80px; width:80px;} /* 예약 일정등록 버튼 */
	  
	  
	  /* 진료 외 일정들 등록 전용 버튼 */
	  #other_schedule_register_btn{width: 110px; height:28px; margin-left: 75px; background-color:rgb(94, 94, 94); color: white; border-radius: 5px;}
	  
	  
	  
/* 오른쪽 섹션  */
	  
	  /* 네비게이션 버튼  */
		#nav_btn_set { display: flex; margin-left: 25px; margin-top: 7px; }
		#nav_btn_set .nav_btn{ border-radius: 23px; color:white; width: 130px; height:45px; font-family: 'Oswald', sans-serif; font-size:23px; box-shadow: 2px 0 0 rgb(224, 224, 224); text-align:center; line-height: 42px;}
		#schedule_nav_btn{ background-color: rgb(243, 156, 18);}
		#notice_nav_btn{ background-color: rgb(155, 89, 182); }
			  
		#nav_btn_set .nav_anchor{
			text-decoration: none;
			color:white;
		}
		
	  /* 네비게이션 바 */
	  #navBar{ font-size:15px; width:1630px; height:30px; color: white; line-height: 27px; background-color: orange; margin-bottom: 3px;}
	  
	  
	  
	  /* 전체 건수 */ #monthly_total{text-align:center; width: 120px; height:27px; margin:6px; padding:4px; background-color: 	#DCDCDC; color: white; border:none; margin-left: 30px;}
	  
	 .scheduleSelect .doctor_schedule_select{margin-left: 9px;}
	  
	 .scheduleSelect .doctor_schedule_label{font-size:13px; font-weight: bold; }
	
	
	 /* 검색 버튼  */ #scheduleSelect_search_btn{background-color: rgb(127, 127, 127); color:white; font-weight:bold;  font-size:10px; border: 1px solid #A9A9A9; width: 42px; height: 23px;}
	
	 #dateCheck{text-align:center; width: 230px; height:27px; font-size:15px; font-weight:bold; color:red;  margin: 8px 0; }
	
	
	
	 /* 상단 네비게이션 캘린더 */
	 #main_Calendar_wrap{
		width: 1580px;
		height: 120px;
		margin-left: 30px;
		/* background-color: yellow;  */
	}
	
	.scheduleSelect .top_optionSelect{width: 100px;}
	
	
	
	#main_Calendar{ margin-top: 17px; margin-left: 10px; } /* 메인 시작 위치 조절 */
	
	
	
	/* 네비게이션 달력 */
       #nav_calendar { 
        	table-layout: fixed;
            width: 700px;
            height: 80px;
            text-align: center;
            font-size: 15px;
            font-family: 굴림;
            border-radius: 1px;
        }
        
        #nav_calendar .nav_calendar_td{width: 17px;}
        