/* 전체 */
	#container{display: flex; width:100%; height:100%; /* background-color:#f5f5f5; */}
	/* 로고 자리 */
	#company_logo{ width: 245px; height: 100px; /* background-color: #E6E6FA; */}
	#hospital_logo{width: 270px; height: 100px;}
	#pageSide_left{background-color: #f5f5f5; }
	
	#pageSide_right{/* background-color: #FAFAD2; */ }
	/* aside 조회등록 폼  */
	#form_wrap{
		margin-top: 10px;
		width: 260px;
		height: 1920px;
		margin-left: 10px;
		font-size: 13px;
		font-weight: bold;

		/* background-color: pink; */
	}
	
	
/* 	폼 타이틀 #form_wrap #patient_form_title{font-size: 16px; text-align: center; color: blue;} */
	
	#form_wrap .label_detail{ padding: 2px;}
	
	#form_wrap #form_contents{/* background-color: yellow; */}
	
	#form_wrap .patient_visit_radio{margin:6px;}
	
	#form_wrap .patient_form_btn{margin-left: 9px;}
	
	#form_wrap .patient_form_label{ display: inline-block; padding:2px; width:60px; font-size:13px; text-align: center; background-color: #f5f5f5;}
	
	#form_wrap .textarea_label{/* padding:2px; */}
	
	#form_wrap .patient_form_input{width:173px; padding: 1px; font-size:13px; font-weight: bold; }
	
	#form_wrap .patient_textarea{ resize: none; padding: 1px; font-weight: bold; } 
	
	#form_wrap #visit_radio_div{ margin-left:50px; padding: 3px;}
	
	/* aside 미니 캘린더  */
	  .calendar {
	    max-width: 230px;
	    height: 100px;
	    margin-left: 10px;
	/*     margin-top: 600px;  */
	/* background-color:yellow; */
	  } 
	
	
	/* main 캘린더 */
	#main_Calendar_wrap{
		width: 1580px;
		height: 500px;
		/* background-color: yellow; */
		margin-left: 30px;
	
		
	}
	
	#main_Calendar{ margin-top: 150px;}
	
	
	
	/* 네비게이션 달력 */
       #nav_calendar { /*테이블  */
        	table-layout: fixed;
            width: 700px;
            height: 80px;
            text-align: center;
            font-size: 15px;
            font-family: 굴림;
           /*  border:1px solid #000000; */
            border-radius: 1px;
        }
        
        #nav_calendar .nav_calendar_td{width: 50px;}
        
     /*    #tbCalendarYM{width: 40px;} */
        
        