@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family: "맑은 고딕";
	box-sizing: border-box;
}

textarea{
    width: 171px;
    height: 50px;
    resize: none;
}
 
#schedule_popUp{
	z-index: 5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
 	display: none;
	background-color: white;
	box-shadow: 0 8px 32px gray;
}
#schedule_popUp2{
	z-index: 5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
 	display: none;
	background-color: white;
	box-shadow: 0 8px 32px gray;
}
.title{
	background-color: #003399;
	padding: 10px 10px;
}

.title span{
	color: white;
	font-size: 17px;
	font-weight: bold;
}

#schedule_popUp form{
	float: left;
}

#miniCalendar{
	float: left;
	max-width: 190px;
	margin: 30px;
}

#miniCalendar .year-month {
    font-size: 16px;
    font-weight: bold;
}

#miniCalendar .dates{
	height: 130px;
}

#miniCalendar .date{
	padding: 1px 4px;
	text-align: center;
	font-size: 13px;
}

.calendar_insert{
	float: left;
	margin: 30px;
	padding: 1px;
	background-color: #EAEAEA;
}

.calendar_insert .item:nth-child(5) select{
	width: 65px;
}

.calendar_select{
	margin: 15px 30px;
	background-color: #EAEAEA;
}

.calendar_select .label{
	margin-right: 130px;
}

.calendar_select .item:nth-child(6) select{
	width: 65px;
}

.item_title{
	font-size: 15px;
 	padding-bottom: 10px;
 	background-color: white;
 	border: 0;
}

.item{
	margin: 5px 0;
	padding: 3px;
	display: flex;
	justify-content: normal;
}

.item a{
	font-size: 11px;
}

.label{
	font-size: 14px;
	font-weight: bold;
	color: #353535;
/* 	margin-bottom: 3px; */
	width: 119px;
	height: 29px;
}

.value{
	width: 160px;
	height: 30px;
	font-size: 14px;
}

.value select, .value input{
	width: 110px;
	height: 24px;
	font-size: 14px;
}

.button{
	padding: 3px 15px;
	margin: 0 5px;
	margin-bottom: 20px;
}
