<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ksh.mapper.PatientMapper">
  
	<insert id="patientreg"> 
		insert into patient(p_name, p_no, p_addr, p_phone, p_visit, p_content, p_chart) 
		values(#{p_name},#{p_no},#{p_addr}, #{p_phone}, "F", #{p_content}, #{p_chart});
	</insert>  
	
	
	<select id="secondVisit_patient" resultType="com.ksh.model.PatientVO">
  		select p_name, p_no, p_phone, p_addr, p_content
  		from patient
  		where p_name=#{p_name} and p_no=#{p_no};
  	</select>
  	
  <!--	 <insert id="reserve">  스케줄 테이블 활용 
	
		
		insert into schedule(s_date, s_startTime, s_endTime, s_patient, s_doctor)
		 values(#{s_date}, #{s_date}, #{s_date}, #{s_date}, #{s_date}); 
	 </insert>   
	 -->
  	
  
  </mapper>