<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ksh.mapper.PatientMapper">
  
	<insert id="patientreg"> 
		insert into patient(p_name, p_no, p_addr, p_phone, p_visit,p_chart) 
		values(#{p_name},#{p_no},#{p_addr}, #{p_phone}, "F", #{p_chart});
	</insert>  
	
	
	<select id="secondVisit_patient" resultType="com.ksh.model.PatientVO">
  	<!-- 	select p_name, p_no, p_phone, p_addr
  		from patient
  		where p_name=#{p_name} and p_no=#{p_no}; -->
  		select p_name, p_no, p_phone, p_addr
  		from patient
  		where p_name=#{p_name} and substring(#{p_no},1,6);
  		
  	</select>
  	
  	
  	<insert id="reserve">
		insert into schedule(s_type, s_date, s_startTime, s_endTime, s_memo, s_patient, s_patientIdNum, s_doctor,allDay, backgroundColor)
		
		<if test="s_doctor != null">
			<choose>
				<when test="s_doctor=='장희영원장'.toString() or s_doctor=='김수민과장'.toString() or s_doctor=='김주윤과장'.toString()">
					VALUES("OC", #{s_date}, #{s_startTime}, #{s_endTime}, #{s_memo}, #{s_patient}, #{s_patientIdNum}, #{s_doctor}, null, '#DB9CFF');
				</when>
				<when test="s_doctor=='이성언원장'.toString() or s_doctor=='박선영과장'.toString() or s_doctor=='홍종무과장'.toString()">
					VALUES("OC", #{s_date}, #{s_startTime}, #{s_endTime}, #{s_memo}, #{s_patient}, #{s_patientIdNum}, #{s_doctor}, null, '#FFDF24');
				</when>
				<when test="s_doctor=='정기원원장'.toString() or s_doctor=='백수미과장'.toString()">
					VALUES("OC", #{s_date}, #{s_startTime}, #{s_endTime}, #{s_memo}, #{s_patient}, #{s_patientIdNum}, #{s_doctor}, null, '#86E57F');
				</when>
			</choose>
		</if>
	 </insert>   
	
  	<select id="reservationCheck" resultType="com.ksh.model.ScheduleVO">
  		select s_date, s_startTime, s_endTime, s_doctor, s_memo
  		from schedule
  		where s_patient=#{s_patient} and substring(#{s_patientIdNum},1,6);
  	</select>
  	

  
  <!--기존 등록 환자 유무 체크(count)  -->
	  <select id="already_patient_chk" parameterType="string" resultType="int">
	  	select count(*) 
	  	from patient
	  	where p_no = #{p_no};
	  </select>
	  
  
  </mapper>